:root {
  --body-font-family: 'JetBrainsMono NFM';
  --body-font-size: 14px;
  --code-font-family: 'JetBrainsMono NFM';
  --code-font-size: 14px;
  /* --textarea-background-color: #00000033;  */
  /* --textarea-foreground-color: brightness(currentColor) < 50% ? #FF0000 : #4695C7; */
  /* --textarea-foreground-color: #FF0000; */
  --all-font-weight: '200';
}
