:root {
  /* --body-font-family: 'JetBrainsMono Nerd Font Mono'; */
  /* --body-font-family: 'SF Compact Text'; */
  --body-font-family: 'JetBrainsMono NFM';
  --body-font-size: 0.99em;
  /* --code-font-family: 'JetBrainsMono Nerd Font Mono'; */
  /* --code-font-family: 'SF Compact Text'; */
  --code-font-family: 'JetBrainsMono NFM';
  --code-font-size: 0.99em;
  /* --textarea-background-color: #c3c3c3; */
  /* --textarea-foreground-color: #000000; */
  --all-font-weight: '200';
}
