:root {
  /* --ui-font: 'SF Compact Text'; */
  --ui-font: 'JetBrainsMono NFM';
  --ui-font-size: 13px;
  --ui-font-weight: 300;

  --body-font-family: var(--ui-font);
  --body-font-size: var(--ui-font-size);

  --code-font-family: var(--ui-font);
  --code-font-size: var(--ui-font-size);

  --all-font-weight: var(--ui-font-weight);
}
