@import 'custom_vars.css';

#text-input {
  height: 100%;
  resize: none;
  outline: 0;
  white-space: break-spaces;
  font-size: var(--body-font-size) !important;
  font-family: var(--body-font-family) !important;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: var(--body-font-size) !important;
  font-family: var(--body-font-family) !important;
}

.todoList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none !important;
}

#content,
#render {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
