@import 'vars.css';

html {
  box-sizing: border-box;
  font-size: var(--body-font-size) !important;
  font-family: var(--body-font-family) !important;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

img {
  max-width: 100%;
  height: auto;
}
