:root {
  /* --body-font-family: 'JetBrainsMono Nerd Font Mono'; */
  --body-font-family: 'SF Compact Text';
  --body-font-size: 18px;
  /* --code-font-family: 'JetBrainsMono Nerd Font Mono'; */
  --code-font-family: 'SF Compact Text';
  --code-font-size: 18px;
}
